@model string 
@{
ViewBag.Title = "Index";
AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tabledata",
        LoadingElementId = "loading",
        LoadingElementDuration = 2000,
    };
}

<div id="loading" style="display:none; color:Red; font-weight:bold">
<p>Loading data</p>
</div>


@using(Ajax.BeginForm("AppointmentData", ajaxOpts))
{    
<table>
        <thead>
            <th>Клиент</th>
            <th>Дата</th>
        </thead>
        <tbody id="tabledata">
            @Html.Action("AppointmentData", new { clientName = Model })
        </tbody>
    </table>
<p>
@Html.DropDownList(
        "clientName",
        new SelectList(
              new[] { "All", "John", "Jane" },
              Model ?? "All"),
        new { onchange="$(this.form).submit()"})
    
</p>
}
